USE [master]
GO
/****** Object:  Database [EKZ]    Script Date: 07.12.2021 13:39:09 ******/
CREATE DATABASE [EKZ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EKZ', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EKZ.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EKZ_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EKZ_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EKZ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EKZ]
GO
/****** Object:  Table [dbo].[Agent]    Script Date: 07.12.2021 13:39:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agent](
	[Тип_агента] [nvarchar](50) NULL,
	[Наименование_агента] [nvarchar](50) NULL,
	[Электроннаяпочтаагента] [nvarchar](50) NULL,
	[Телефонагента] [nvarchar](50) NULL,
	[Логотип_агента] [nvarchar](50) NULL,
	[Юридический_адрес] [nvarchar](100) NULL,
	[Приоритет] [nvarchar](50) NULL,
	[Директор] [nvarchar](50) NULL,
	[ИНН] [nvarchar](50) NULL,
	[КПП] [nvarchar](50) NULL,
	[ID] [int] NOT NULL,
 CONSTRAINT [PK_Agent] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 07.12.2021 13:39:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Наименование_продукции] [nvarchar](50) NULL,
	[Тип_продукции] [nvarchar](50) NULL,
	[Артикул] [nvarchar](50) NULL,
	[Количество_человек_для_производства] [nvarchar](50) NULL,
	[Номер_цеха_производства] [nvarchar](50) NULL,
	[Минимальная_цена_для_агента] [nvarchar](50) NULL,
	[ID] [int] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slkad]    Script Date: 07.12.2021 13:39:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slkad](
	[Продукция] [nvarchar](50) NULL,
	[Наименование_агента] [nvarchar](50) NULL,
	[Дата_реализации] [nvarchar](50) NULL,
	[Количество_продукции] [nvarchar](50) NULL,
	[ID] [int] NOT NULL,
 CONSTRAINT [PK_Slkad] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Agent] ([Тип_агента], [Наименование_агента], [Электроннаяпочтаагента], [Телефонагента], [Логотип_агента], [Юридический_адрес], [Приоритет], [Директор], [ИНН], [КПП], [ID]) VALUES (N'ООО', N'Компания КазАлмаз', N'irina.gusina@vlasova.ru', N'(8800) 533-2475', N'\agents\agent_80.png', N'848810, Кемеровская область, город Лотошино, пер. Ломоносова, 90', N'396', N'Марк Фёдорович Муравьёва', N'3084797352', N'123190924', 4)
INSERT [dbo].[Agent] ([Тип_агента], [Наименование_агента], [Электроннаяпочтаагента], [Телефонагента], [Логотип_агента], [Юридический_адрес], [Приоритет], [Директор], [ИНН], [КПП], [ID]) VALUES (N'ООО', N'Компания СервисРадиоГор', N'nika.nekrasova@kovalev.ru', N'(8800) 676-3286', N'\agents\agent_40.png', N'547196, Ульяновская область, город Серебряные Пруды, въезд Балканская, 81', N'169', N'Попов Вадим Александрович', N'8880473721', N'729975116', 5)
INSERT [dbo].[Agent] ([Тип_агента], [Наименование_агента], [Электроннаяпочтаагента], [Телефонагента], [Логотип_агента], [Юридический_адрес], [Приоритет], [Директор], [ИНН], [КПП], [ID]) VALUES (N'ЗАО', N'ВодТверьХозМашина', N'tkrylov@baranova.net', N'(922) 849-9196', N'\agents\agent_56.png', N'145030, Сахалинская область, город Шатура, въезд Гоголя, 79', N'8', N'Александра Дмитриевна Ждановаа', N'4174253174', N'522227145', 6)
GO
INSERT [dbo].[Products] ([Наименование_продукции], [Тип_продукции], [Артикул], [Количество_человек_для_производства], [Номер_цеха_производства], [Минимальная_цена_для_агента], [ID]) VALUES (N'Попрыгунчик детский красный 1289', N'Для маленьких деток', N'82925345', N'4', N'10', N'1 919,00 ₽', 1)
INSERT [dbo].[Products] ([Наименование_продукции], [Тип_продукции], [Артикул], [Количество_человек_для_производства], [Номер_цеха_производства], [Минимальная_цена_для_агента], [ID]) VALUES (N'Попрыгунчик детский желтый 6678', N'Для больших деток', N'80007300', N'2', N'1', N'1 768,00 ₽', 2)
INSERT [dbo].[Products] ([Наименование_продукции], [Тип_продукции], [Артикул], [Количество_человек_для_производства], [Номер_цеха_производства], [Минимальная_цена_для_агента], [ID]) VALUES (N'Попрыгунчик детский 6888', N'Для маленьких деток', N'13875235', N'4', N'12', N'1 972,00 ₽', 3)
GO
INSERT [dbo].[Slkad] ([Продукция], [Наименование_агента], [Дата_реализации], [Количество_продукции], [ID]) VALUES (N'Попрыгунчик для собачек 5754', N'Компания ФинансСервис', N'17.02.2016', N'18', 2)
INSERT [dbo].[Slkad] ([Продукция], [Наименование_агента], [Дата_реализации], [Количество_продукции], [ID]) VALUES (N'Попрыгунчик для собачек 4485', N'РемГаражЛифт', N'07.11.2012', N'9', 3)
INSERT [dbo].[Slkad] ([Продукция], [Наименование_агента], [Дата_реализации], [Количество_продукции], [ID]) VALUES (N'Попрыгун 6412', N'Радио', N'01.06.2019', N'5', 4)
GO
USE [master]
GO
